<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio | Recetas Web</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="home-page">
  <!-- Contenedor principal -->
  <main>
    <div class="home-container">
      <h1>Bienvenido a entre ollas y Sabores 🥮 </h1>
      <p>
        Variedad de opciones que van desde los clásicos más queridos de la cocina tradicional hasta las recetas más innovadoras y modernas para sorprender a tus seres queridos. Ya sea que busques algo rápido y fácil o te atrevas con un desafío culinario, tenemos algo para ti.

        Explora nuestra extensa colección de recetas cuidadosamente seleccionadas, todas diseñadas para que puedas cocinar con facilidad y disfrutar de los sabores más auténticos. Además, puedes sumergirte en nuestros tutoriales paso a paso en YouTube, donde te guiamos para que cada plato quede perfecto, o si prefieres tener todo a mano, descarga nuestro recetario en formato PDF para tenerlo siempre disponible en tu cocina. Convierte tu hogar en un espacio lleno de inspiración culinaria y creatividad. ¡Atrévete a experimentar con nuevos ingredientes y técnicas, y haz de tu cocina un lugar donde los sabores y las ideas se mezclen de manera única!
      </p>
      <!-- Botones principales -->
      <div class="home-buttons">
        <a href="/recetas" class="boton">Ver Recetas</a>
        <a href="https://www.youtube.com/@canalcocina" target="_blank" class="boton">YouTube</a>
        <a href="https://foodhero.org/sites/foodhero-prod/files/health-tools/cookbook.pdf" target="_blank" class="boton">Descargar Recetas</a>
      </div>
    </div>
  </main>
</body>
</html>
